body {
  font-family: "Times New Roman", Times, serif;
  margin: 20px;
  color: #000;
}

.center {
  text-align: center;
}

.heading {
  text-decoration: underline;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo-left, .logo-right {
  height: 70px;
}

.logo-center {
  height: 100px;
}

table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid transparent;
}

td {
  padding: 6px 8px;
  vertical-align: top;
  font-size: 16px;
  border: 1px solid transparent;
}
